<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>App Fragments</title>
</head>

<body>
    <!-- Default Navigator -->
    <ul th:fragment="nav-default">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/Employee/display}">View All</a></li>
        <li><a th:href="@{/Employee/submit}">Add Employee</a></li>
        <li><a th:href="@/Employee/leaves}">Apply for Leave</a></li>
    </ul>

    <div th:fragment="copyright">
        &copy; Virtue.org
    </div>
</body>

</html>