<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>SUBMIT EMPLOYEE</title>
<style type="text/css">
span{
display: inline-block;
width: 200px;
text-align: left;
}
</style>

</head>
<body>
	<div align="center">
		<h1>submit succeeded!</h1>
		
		<span>ID:</span><span th:text="${employee.id}"></span><br/>
		<span>NAME:</span><span th:text="${employee.employeeName}"></span><br/>
		<span>NAME:</span><span th:text="${employee.employeePost}"></span><br/>
		<span>MOBILE-NO:</span><span th:text="${employee.contactDetails.mobileNo}"></span><br/>
		<span>EMAIL-ID:</span><span th:text="${employee.contactDetails.emailId}"></span><br/>
		<span>SKYPE-ID:</span><span th:text="${employee.contactDetails.skypeId}"></span><br/>
		
	</div>

</body>
</html>
