<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>leave management system</title>
</head>

<body
	style="padding-top: 80px; padding-right: 120px; padding-bottom: 80px; padding-left:; color: #fff; background-color: #f0f0f0; background: #0f2439 no-repeat center top;">


	<p th:text="${Employee}"></p>
	<h1 style="text-align: center">Virtue Analytics</h1>


	<br>
	<a th:href="@{/Employee/display}"
		style="border: none; padding: 14px 50px; text-decoration: none; display: inline-block; font-size: 15px; margin: 4px 1px; cursor: pointer; background-color: #555555; color: white; margin: 40px;">ViewAll</a>
	</br>

	<a th:href="@{/Employee/submit}"
		style="border: none; padding: 14px 33px; text-decoration: none; display: inline-block; font-size: 15px; margin: 3px 1px; cursor: pointer; background-color: #555555; color: white; margin: 40px;">Add
		Employee</a>
		
	<br>
	<a th:href="@{/Employee/leaves}"
		style="border: none; padding: 14px 30px; text-decoration: none; display: inline-block; font-size: 15px; margin: 4px 2px; cursor: pointer; background-color: #555555; color: white; margin: 40px;">Apply
		For Leave</a>
	</br>
</body>
</html>

