<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>leave management system</title>


</head>
<style>
table tr th, table tr td {
	padding: 5px;
}
</style>

<body style="padding: 30px; font-family: arial;">

	<style>
table, tr {
	border: 1px solid black;
}
</style>

	<p th:text="${Employee}"></p>
	<form th:action="@{/Employee/display}" th:object="${employee}"
		method="post">
		<table style="text-align: left; width: 100%; border: 1px solid green;">

			<tr>
				<td>Id:</td>
				<td style="width: 12%; color: blue;"><input type="text"
					th:field="*{id}" placeholder=employeeId></td>
			</tr>
			<tr>
				<td>NAME:</td>
				<td style="width: 12%; color: blue;"><input type="text"
					th:field="*{employeeName}" placeholder=employeeName value=""></td>
			</tr>
			<tr>
				<td>POST:</td>
				<td style="width: 12%; color: blue;"><input type="text"
					th:field="*{employeePost}" placeholder=employeePost value=""></td>
			</tr>
			<tr>
				<td>MOBILE-NO:</td>
				<td style="width: 12%; color: blue;"><input type="text"
					 th:field="*{contactDetails.mobileNo}" placeholder=mobileNo value=""></td>
			</tr>
			<tr>
				<td>EMAIL-ID:</td>
				<td style="width: 12%; color: blue;"><input type="text"
					 th:field="*{contactDetails.emailId}" placeholder=emailId value=""></td>
			</tr>
			<tr>
				<td>SKYPE-ID:</td>
				<td style="width: 12%; color: blue;"><input type="text"
					th:field="*{contactDetails.skypeId}" placeholder=skypeId value=""></td>
			</tr>
			

			<tr>
				<td><input type="submit" value="submit"></td>
			</tr>
		</table>
	</form>

</body>
</html>