
<style>
table tr th, table tr td {
	padding: 10px;
}

table, tr {
	border: 3px solid black;
}
</style>

	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">show</button>
   
  <p>
 
	</table>
</div>	
</body>
  
       </p>
   
  
               
 
        <script src="js/jquery.js"></script>
        <script type="text/javascript">
 
function doAjaxPost() {  
      // get the form values  
        var name = $('#Experiene').val();
      var education = $('#Course').val();
       alert(name+education)
       
      $.ajax({  
        type: 'POST',  
        url : "/login2",
     
        data: "name=" + name + "&education=" + education,
        success: function(response){ 
                     
 
                alert(response)
                //alert(jdata)
          // we have the response  
          $('#info').html(response);
         },  
        error: function(e){  
           
          alert('Error: ' + e);  
        }  
      });  
    }  
</script>


</body>
</html>